<!DOCTYPE html>
<html lang="fr">
    <head>
    	<!--<link rel="stylesheet" type="text/css" id="dyn"/>-->
		<script>
			//$("link#dyn").attr("href", "css_pages/" + ((larg < 500)?"width_inf":"width_sup")+ "/contenu.css");
			//$("script#dynJS").attr("src", "js_pages/" + ((larg < 500)?"width_inf":"width_sup")+ "/contenu.js");
			/*{
				rel : "stylesheet",
				type : "text/css",
				href : 
			}).appendTo("head");*/
		</script>
		<!--<script>
			$("<link/>", {
				rel : "stylesheet",
				type : "text/css",
				href : "css_pages/" + ((larg < 500)?"width_inf":"width_sup")+ "/contenu.css"
			}).appendTo("head");
		</script>-->
		<link rel="stylesheet" media="screen and (max-width: 500px)" href="css_pages/width_inf/contenu.css" type="text/css" />
		<link rel="stylesheet" media="screen and (min-width: 501px)" href="css_pages/width_sup/contenu.css" type="text/css" />
    </head>

    <body>

        <div class="white"></div>

        <div class="view_content {{flou}}">

            <div class="header">
                <div class="btn_panel_left" onclick="openL();"></div>
                <div class="rub">
                    nos contenus
                </div>
                <div class="btn_panel_right" style='background-image: url("{{user_profil.avatar}}")' onclick="openR();"></div>
            </div>
            <div class="slider" data-snap-ignore="true">
                <div ng-include='"views/slider.html"'></div>
            </div>
            <div class="swipe_button">
                <div class="swipe_touch {{mySwiper.class}}" ng-click='up()'></div>
            </div>
            <div class="search">
                <select class="select_left" ng-model='search.categorieId'>
                    <option value="">Format</option>
                    <option ng-repeat='(key,val) in cates' value="{{key}}" ng-bind-html='val.texte'></option>
                </select>
                <input type="text" name="fname" class="formtext_right" ng-model='search.$' placeholder="titre, date, format">
            </div>

            <div class="cache_loader" ng-show='loading'>
                <div class="loader">
                    <img src="images/loader.gif" ng-show='loading'/>
                </div>
            </div>

            <div class="main" id="mainid">
                <div ng-if='_is_connected'>
                    <div class="wrap cate{{val.categorieId}} {{(val.titre != '')?'visible':'hidden'}}" ng-repeat='(key,val) in contenu | filter:search' ng-show="val.titre != ''" >
                        <div class="line" data-titre="{{val.titre}}">
                            <div class="picto" style="background-image: url('{{getlogo(val)}}');" >
                                <div ng-if="val.video != ''" ng-click='openUrl_vid(val.video)'><img ng-src='images/play.svg'/>
                                </div>
                                <div ng-if="val.video == '' && val.youtube != ''" ng-click="openUrl_s(val.youtube)"><img ng-src='images/play.svg'/>
                                </div>
                            </div>
                            <div class="texte" onclick="seeText($(this).parent());">
                                <div class="texte_content" ng-bind-html='val.titre'></div>
                            </div>
                            <div class="cloud" ng-if='val.pdf != ""'>
                                <div class="picto_cloud_contenu" ng-click="tracePage(74,val.titre + ' - pdf',true);openUrl(val.pdf)"></div>
                            </div>
                        </div>
                        <div class="between" ng-bind-html='val.texte'></div>
                        <div class="base_line">
                            <div class="fleche"></div>
                            <div class="date_publication">
                                Posté le <span ng-bind-html='parseDate(val.date)'></span>
                            </div>
                        </div>
                    </div>
                    <div class='spacer'></div>
                    <div class='suite' ng-if="suite" ng-click='charger();'>
                    	<div class="suite_texte">Voir la suite</div>
                    </div>
                </div>
                <div ng-if='!_is_connected'>
                    <div class='spacer'></div>
                    <div ng-include='"views/hors-ligne.html"'></div>
                </div>
            </div>

        </div>

    </body>
	
	<script type="text/javascript" id="dynJS" src="js_pages/width_inf/contenu.js"></script>

</html>
